[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
wheel = "*"
python-multipart = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
